<!DOCTYPE html>
<html lang="zn-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>品优购-综合网购首选-正品低价、品质保障、配送及时、轻松购物!</title>
    <!-- 网站说明 -->
    <meta name=" description" content="品优购专业的综合网上购物商城，销售家电、数码通讯、电脑、家居百货、服装服饰、母婴、图书、
    食品数万个品牌优质商品.便捷、诚信的服务,为您提供愉悦的网上购物体验!" />
    <!-- 关键字 -->
    <meta name="keywords" content="网上购物,网上商城手机,笔记本，电脑,MP3,CD,VCD,DV,相机,数码，配件,手表,存储卡，京东" />
    <!-- htpp:/www.bitbug.net -->
    <!-- 网站引入favicon图标 -->
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="/public/css/base.css">
    <!-- <link rel="stylesheet" href="/public/css/base.css"> -->
    <link rel="stylesheet" href="/public/css/common.css">
    <!-- <link rel="stylesheet" href="/public/css/common.css"> -->
    <link rel="stylesheet" href="/public/css/index.css">
    <!-- <link rel="stylesheet" href="/public/css/index.css"> -->
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/animate.js"></script>
    <script src="/public/js/index.js" type="text/javascript" charset="utf-8"></script>
    <!-- <img src="/public/images/" alt="" srcset=""> -->
</head>

<body>
    <!-- 头部导航栏 -->
    <section class="shorcut">
        <div class="w">
            <div class="f1">
                <ul>
                    <li>品优购欢迎您！&nbsp;</li>
                    <li>
                        <a href="sign.html" target="_blank">请登录&nbsp;</a>
                        <a href="logon.html" class="sty_red" target="_blank">免费注册</a>
                    </li>
                </ul>
            </div>
            <div class="fr">
                <ul>
                    <li>
                        <a href="#">我的订单</a>
                    </li>
                    <li></li>
                    <li>
                        <a href="#">我的品优购</a>
                        <i class="icomoon"></i>
                    </li>
                    <li></li>
                    <li>
                        <a href="#">品优购会员</a>
                    </li>
                    <li></li>
                    <li>
                        <a href="#">企业采购</a>
                    </li>
                    <li></li>
                    <li>
                        <a href="#">关注品优购</a>
                        <i class="icomoon"></i>
                    </li>
                    <li></li>
                    <li>
                        <a href="#">客户服务</a>
                        <i class="icomoon"></i>
                    </li>
                    <li></li>
                    <li>
                        <a href="#">网站导航</a>
                        <i class="icomoon"></i>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- header头部 -->
    <header class="header">
        <div class="logo">
            <a href="index.html" title="品优购商城"><img src="/public/images//logo_03.png" alt=""></a>
        </div>
        <!-- <a href="#" title="品优购商城"><img src="/public/images//logo_03.png" alt=""></a> -->
        <div class="search">
            <input type="text" class="text" value="请输入搜索内容...">
            <button class="btn">搜索</button>
        </div>
        <div class="hotwords">
            <ul>
                <li><a href="#" class="style_red">优惠购首发</a></li>
                <li><a href="#">亿元优惠</a></li>
                <li><a href="#">9.9元团购</a></li>
                <li><a href="#">每满99减30</a></li>
                <li><a href="#">办公用品</a></li>
                <li><a href="#">电脑</a></li>
                <li><a href="#">通信</a></li>
            </ul>
        </div>
        <div class="shopcar">
            <!-- <span>我的购物车 &nbsp; ></span> -->
            <span><a href="./car.html" target="_blank">我的购物车 &nbsp; ></a></span>
        </div>
        <div class="xx">3</div>
    </header>
    <!-- nav导航部分 -->
    <nav class="nav">
        <!-- nav导航头部部分 -->
        <div class="nav_hea">
            <div class="meun">
                <div class="mL">全部商品分类</div>
                <div class="meun_items">
                    <ul>
                        <li><a href="#">服装城</a></li>
                        <li><a href="#">美妆馆</a></li>
                        <li><a href="#">传智超市</a></li>
                        <li><a href="#">全球购</a></li>
                        <li><a href="#">闪购</a></li>
                        <li><a href="#">团购</a></li>
                        <li><a href="#">拍卖</a></li>
                        <li><a href="#">有趣</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="nav_w">
            <!-- /*  nav导航栏中心的左侧部分 */  -->
            <div class="dropdown">
                <ul>
                    <li><a href="#">家用电器</a><i>></i></li>
                    <li><a href="list.html" target="_blank">手机 &nbsp;数码 &nbsp;通信</a><i>></i></li>
                    <li><a href="#">电脑、办公<i>></i></a></li>
                    <li><a href="#">家居、家具、家装、厨具</a><i>></i></li>
                    <li><a href="#">男装、女装、童装、内衣</a><i>></i></li>
                    <li><a href="#">个户化妆、清洁用品、宠物</a><i>></i></li>
                    <li><a href="#">箱包、钟表、珠宝、奢侈品</a><i>></i></li>
                    <li><a href="#">运动户外、鞋靴</a><i>></i></li>
                    <li><a href="#">汽车、汽车用品</a><i>></i></li>
                    <li><a href="#">母婴、玩具乐器</a></li>
                    <li><a href="#">食品、酒类、生鲜、特产</a><i>></i></li>
                    <li><a href="#">医药保健</a><i>></i></li>
                    <li><a href="#">图书、音像、电子书</a><i>></i></li>
                    <li><a href="#">彩票、旅行、充值、票务</a><i>></i></li>
                    <li><a href="#">理财、众筹、白条、保险</a><i>></i></li>
                </ul>
            </div>
            <!-- nav导航栏中心的中部部分 -->
            <div class="main">
                <!-- 核心滚动区域 -->
                <!-- <img src="/public/images//main.jpg" alt=""> -->
                <!-- 图片左侧箭头 -->
                <a href="javascript:;" class="prex">&lt;</a>
                <!-- 图片右侧箭头 -->
                <a href="javascript:;" class="next">&gt;</a>
                <!-- 核心滚动区域 -->
                <ul>
                    <li>
                        <a href="#"><img src="/public/images/main.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="/public/images/main1.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="/public/images/main2.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="/public/images/main3.jpg" alt=""></a>
                    </li>
                </ul>
                <!-- 图片左下角圆点 -->
                <ol class="pro_nav">
                    <!-- <li></li>
                    <li class="select"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li> -->
                </ol>
            </div>
            <!-- 右侧部分 -->
            <!-- 顶部 -->
            <div class="news">
                <div class="news_hd">
                    <h3>品优购快报</h3>
                    <a href="#">更多 &nbsp;&gt;</a>
                </div>
                <div class="news_bd">
                    <ul>
                        <li><a href="#">【特惠】爆款耳机5折秒！</a></li>
                        <li><a href="#">【特惠】母亲节，健康好礼低至5折！</a></li>
                        <li><a href="#">【特惠】爆款耳机5折秒！</a></li>
                        <li><a href="#">【特惠】9.9元洗100张照片</a></li>
                        <li><a href="#">【特惠】格力智能空调立省1000！</a></li>
                    </ul>
                </div>
                <div class="fd">
                    <ul>
                        <li class="fd_bod">
                            <a href="#">
                                <i></i>
                                <!-- <img src="/public/images//icon1.png" alt=""> -->
                                <p>话费</p>
                            </a>
                        </li>
                        <li class="fd_bod">
                            <a href="#">
                                <i></i>
                                <p>机票</p>
                            </a>
                        </li>
                        <li class="fd_bod">
                            <a href="#">
                                <i></i>
                                <p>机票</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i></i>
                                <p>机票</p>
                            </a>
                        </li>
                        <li class="fd_bod">
                            <a href="#">
                                <i></i>
                                <p>机票</p>
                            </a>
                        </li>
                        <li class="fd_bod">
                            <a href="#">
                                <i></i>
                                <p>机票</p>
                            </a>
                        </li>
                        <li class="fd_bod">
                            <a href="#">
                                <i></i>
                                <p>机票</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i></i>
                                <p>机票</p>
                            </a>
                        </li>
                        <li class="fd_bod">
                            <a href="#">
                                <i></i>
                                <p>机票</p>
                            </a>
                        </li>
                        <li class="fd_bod">
                            <a href="#">
                                <i></i>
                                <p>机票</p>
                            </a>
                        </li>
                        <li class="fd_bod">
                            <a href="#">
                                <i></i>
                                <p>机票</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i></i>
                                <p>机票</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 底侧图片 -->
            <img src="/public/images//bargain.jpg" alt="">
        </div>
    </nav>
    <!-- recommend今日推荐部分 -->
    <div class="recommend">
        <div class="recommend_hd">
            <img src="/public/images//clock.png" alt="">
            <h3>今日推荐</h3>
        </div>
        <div class="pic">
            <ul>
                <li>
                    <a href="#">
                        <img src="/public/images//pic.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/public/images//pic.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/public/images//pic.jpg" alt="">
                    </a>
                </li>
                <li class="last">
                    <a href="#">
                        <img src="/public/images//pic.jpg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- floor家用电气部分 -->
    <div class="floor">
        <div class="fl_hd">
            <h4>家用电器</h4>
            <ul>
                <li><a href="#">热门</a>|</li>
                <li><a href="#">大家电</a>|</li>
                <li><a href="#">生活电器</a>|</li>
                <li><a href="#">厨房电器</a>|</li>
                <li><a href="#">个护健康</a>|</li>
                <li><a href="#">应季电器</a>|</li>
                <li><a href="#">空气/净水</a>|</li>
                <li><a href="#">新奇特</a>|</li>
                <li><a href="#">高端电器</a></li>
            </ul>
        </div>
        <div class="fl_bd">
            <!-- floor-body左侧第一部分 -->
            <div class="bd_LF">
                <ul>
                    <li><a href="#">节能补贴</a></li>
                    <li><a href="#">4K电视</a></li>
                    <li><a href="#">空气净化器</a></li>
                    <li><a href="#">IH电饭煲</a></li>
                    <li><a href="#">滚筒洗衣机</a></li>
                    <li><a href="#">电热水器</a></li>
                </ul>
                <img src="/public/images//floor-1-1.png" alt="">
            </div>
            <!-- 左侧第二部分 -->
            <div class="pic1">
                <a href="#">
                    <img src="/public/images//pic1.jpg" alt="">
                </a>
                <!-- <img src="/public/images//pic1.jpg" alt=""> -->
            </div>
            <!-- floor-body右侧部分 -->
            <ul class="bd_RT">
                <li class="RT_1">
                    <div class="tab-con-item1">
                        <a href="#"><img src="/public/images//floor-1-2.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div class="tab-con-item2">
                        <a href="#"><img src="/public/images//floor-1-3.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div class="tab-con-item3">
                        <a href="#"><img src="/public/images//floor-1-4.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div class="tab-con-item4">
                        <a href="#"><img src="/public/images//floor-1-5.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div class="tab-con-item5">
                        <a href="#"><img src="/public/images//floor-1-6.png" alt=""></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- 手机通讯部分 -->
    <div class="floor phone">
        <div class="fl_hd">
            <h4>手机通讯</h4>
            <ul>
                <li><a href="#">热门</a>|</li>
                <li><a href="#">大家电</a>|</li>
                <li><a href="#">生活电器</a>|</li>
                <li><a href="#">厨房电器</a>|</li>
                <li><a href="#">个护健康</a>|</li>
                <li><a href="#">应季电器</a>|</li>
                <li><a href="#">空气/净水</a>|</li>
                <li><a href="#">新奇特</a>|</li>
                <li><a href="#">高端电器</a></li>
            </ul>
        </div>
        <div class="fl_bd">
            <!-- floor-body左侧第一部分 -->
            <div class="bd_LF">
                <ul>
                    <li><a href="#">节能补贴</a></li>
                    <li><a href="#">4K电视</a></li>
                    <li><a href="#">空气净化器</a></li>
                    <li><a href="#">IH电饭煲</a></li>
                    <li><a href="#">滚筒洗衣机</a></li>
                    <li><a href="#">电热水器</a></li>
                </ul>
                <img src="/public/images//floor-1-1.png" alt="">
            </div>
            <!-- 左侧第二部分 -->
            <div class="pic1">
                <a href="#">
                    <img src="/public/images//pic1.jpg" alt="">
                </a>
                <!-- <img src="/public/images//pic1.jpg" alt=""> -->
            </div>
            <!-- floor-body右侧部分 -->
            <ul class="bd_RT">
                <li class="RT_1">
                    <div class="tab-con-item1">
                        <a href="#"><img src="/public/images//floor-1-2.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div class="tab-con-item2">
                        <a href="#"><img src="/public/images//floor-1-3.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div class="tab-con-item3">
                        <a href="#"><img src="/public/images//floor-1-4.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div class="tab-con-item4">
                        <a href="#"><img src="/public/images//floor-1-5.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div class="tab-con-item5">
                        <a href="#"><img src="/public/images//floor-1-6.png" alt=""></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- 智能家居部分 -->
    <div class="floor community">
        <div class="fl_hd">
            <h4>电脑办公</h4>
            <ul>
                <li><a href="#">热门</a>|</li>
                <li><a href="#">大家电</a>|</li>
                <li><a href="#">生活电器</a>|</li>
                <li><a href="#">厨房电器</a>|</li>
                <li><a href="#">个护健康</a>|</li>
                <li><a href="#">应季电器</a>|</li>
                <li><a href="#">空气/净水</a>|</li>
                <li><a href="#">新奇特</a>|</li>
                <li><a href="#">高端电器</a></li>
            </ul>
        </div>
        <div class="fl_bd">
            <!-- floor-body左侧第一部分 -->
            <div class="bd_LF">
                <ul>
                    <li><a href="#">节能补贴</a></li>
                    <li><a href="#">4K电视</a></li>
                    <li><a href="#">空气净化器</a></li>
                    <li><a href="#">IH电饭煲</a></li>
                    <li><a href="#">滚筒洗衣机</a></li>
                    <li><a href="#">电热水器</a></li>
                </ul>
                <img src="/public/images//floor-1-1.png" alt="">
            </div>
            <!-- 左侧第二部分 -->
            <div class="pic1">
                <a href="#">
                    <img src="/public/images//pic1.jpg" alt="">
                </a>
                <!-- <img src="/public/images//pic1.jpg" alt=""> -->
            </div>
            <!-- floor-body右侧部分 -->
            <ul class="bd_RT">
                <li class="RT_1">
                    <div class="tab-con-item1">
                        <a href="#"><img src="/public/images//floor-1-2.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div class="tab-con-item2">
                        <a href="#"><img src="/public/images//floor-1-3.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div class="tab-con-item3">
                        <a href="#"><img src="/public/images//floor-1-4.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div class="tab-con-item4">
                        <a href="#"><img src="/public/images//floor-1-5.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div class="tab-con-item5">
                        <a href="#"><img src="/public/images//floor-1-6.png" alt=""></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- 电脑办公部分 -->
    <div class="floor jiaju">
        <div class="fl_hd">
            <h4>智能家居</h4>
            <ul>
                <li><a href="#">热门</a>|</li>
                <li><a href="#">大家电</a>|</li>
                <li><a href="#">生活电器</a>|</li>
                <li><a href="#">厨房电器</a>|</li>
                <li><a href="#">个护健康</a>|</li>
                <li><a href="#">应季电器</a>|</li>
                <li><a href="#">空气/净水</a>|</li>
                <li><a href="#">新奇特</a>|</li>
                <li><a href="#">高端电器</a></li>
            </ul>
        </div>
        <div class="fl_bd">
            <!-- floor-body左侧第一部分 -->
            <div class="bd_LF">
                <ul>
                    <li><a href="#">节能补贴</a></li>
                    <li><a href="#">4K电视</a></li>
                    <li><a href="#">空气净化器</a></li>
                    <li><a href="#">IH电饭煲</a></li>
                    <li><a href="#">滚筒洗衣机</a></li>
                    <li><a href="#">电热水器</a></li>
                </ul>
                <img src="/public/images//floor-1-1.png" alt="">
            </div>
            <!-- 左侧第二部分 -->
            <div class="pic1">
                <a href="#">
                    <img src="/public/images//pic1.jpg" alt="">
                </a>
                <!-- <img src="/public/images//pic1.jpg" alt=""> -->
            </div>
            <!-- floor-body右侧部分 -->
            <ul class="bd_RT">
                <li class="RT_1">
                    <div class="tab-con-item1">
                        <a href="#"><img src="/public/images//floor-1-2.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div class="tab-con-item2">
                        <a href="#"><img src="/public/images//floor-1-3.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div class="tab-con-item3">
                        <a href="#"><img src="/public/images//floor-1-4.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div class="tab-con-item4">
                        <a href="#"><img src="/public/images//floor-1-5.png" alt=""></a>
                    </div>
                </li>
                <li>
                    <div class="tab-con-item5">
                        <a href="#"><img src="/public/images//floor-1-6.png" alt=""></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- 固定电梯左侧部分 -->
    <div class="fixedtool">
        <ul>
            <li class="current">家用电器</li>
            <li>手机通讯</li>
            <li>电脑办公</li>
            <li>智能家居</li>
            <!-- <li></li>
            <li></li> -->
        </ul>
    </div>
    <!-- fixed右侧固定部分 -->
    <div class="fixed">
        <a href="javascript:;" class="a1" id="first">
            <img src="/public/images//con1.png" alt="" srcset="">
            <p>手机APPP</p>
        </a>
        <a href="logon.html" target="_blank" class="a2" id="two">
            <img src="/public/images//con2.png" alt="" srcset="">
            <p>个人中心</p>
        </a>
        <a href="javascript:;" class="a3" id="third">
            <img src="/public/images//con3.png" alt="" srcset="">
            <p>售后服务</p>
        </a>
        <a href="javascript:;" class="a4" id="fourth">
            <img src="/public/images//con4.png" alt="" srcset="">
            <p>人工客服</p>
        </a>
        <a href="javascript:;" class="a5" id="fifth">
            <img src="/public/images//con5.png" alt="" srcset="">
            <p>购物车</p>
        </a>
        <a href="javascript:;" class="a6" id="goBack">
            <img src="/public/images//con6.png" alt="" srcset="">
            <p>回到顶部</p>
        </a>
    </div>
    <!-- 底部footer部分 -->
    <footer class="footer">
        <div class="w">
            <!-- 头部 -->
            <div class="ft_hd">
                <ul>
                    <li>
                        <img src="/public/images//正_03.png" alt="">
                        <h5>正品保障</h5>
                        <p>正品保障，提供发票</p>
                    </li>
                    <li>
                        <img src="/public/images//正2_03.png" alt="">
                        <h5>正品保障</h5>
                        <p>正品保障，提供发票</p>
                    </li>
                    <li>
                        <img src="/public/images//正3_03.png" alt="">
                        <h5>正品保障</h5>
                        <p>正品保障，提供发票</p>
                    </li>
                    <li>
                        <img src="/public/images//正3_03.png" alt="">
                        <h5>正品保障</h5>
                        <p>正品保障，提供发票</p>
                    </li>
                    <li class="ft_hd5">
                        <img src="/public/images//正3_03.png" alt="">
                        <h5>正品保障</h5>
                        <p>正品保障，提供发票</p>
                    </li>
                </ul>
            </div>
            <div class="ft_bd">
                <ul class="about">
                    <h4>购物指南</h4>
                    <li><a href="#">购物流程</a></li>
                    <li><a href="#">会员介绍</a></li>
                    <li><a href="#">生活旅行/团购</a></li>
                    <li><a href="#">常见问题</a></li>
                    <li><a href="#">大家电</a></li>
                    <li><a href="#">联系客服</a></li>
                </ul>
                <ul class="about">
                    <h4>购物指南</h4>
                    <li><a href="#">购物流程</a></li>
                    <li><a href="#">会员介绍</a></li>
                    <li><a href="#">生活旅行/团购</a></li>
                    <li><a href="#">常见问题</a></li>
                    <li><a href="#">大家电</a></li>
                    <li><a href="#">联系客服</a></li>
                </ul>
                <ul class="about">
                    <h4>购物指南</h4>
                    <li><a href="#">购物流程</a></li>
                    <li><a href="#">会员介绍</a></li>
                    <li><a href="#">生活旅行/团购</a></li>
                    <li><a href="#">常见问题</a></li>
                    <li><a href="#">大家电</a></li>
                    <li><a href="#">联系客服</a></li>
                </ul>
                <ul class="about">
                    <h4>购物指南</h4>
                    <li><a href="#">购物流程</a></li>
                    <li><a href="#">会员介绍</a></li>
                    <li><a href="#">生活旅行/团购</a></li>
                    <li><a href="#">常见问题</a></li>
                    <li><a href="#">大家电</a></li>
                    <li><a href="#">联系客服</a></li>
                </ul>
                <ul class="about">
                    <h4>购物指南</h4>
                    <li><a href="#">购物流程</a></li>
                    <li><a href="#">会员介绍</a></li>
                    <li><a href="#">生活旅行/团购</a></li>
                    <li><a href="#">常见问题</a></li>
                    <li><a href="#">大家电</a></li>
                    <li><a href="#">联系客服</a></li>
                </ul>
                <ul class="last">
                    <h4>帮助中心</h4>
                    <img src="/public/images//erweima.png" alt="">
                    <p>品优购客户端</p>
                </ul>
            </div>
            <div class="ft_dd">
                <ul class="dd1">
                    <a href="#"></a>
                    <li><a href="#">关于我们</a>
                    </li>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">联系客服</a></li>
                    <li><a href="#">商家入驻</a></li>
                    <li><a href="#">营销中心</a></li>
                    <li><a href="#">手机品优购</a></li>
                    <li><a href="#">友情链接</a></li>
                    <li><a href="#">销售联盟</a></li>
                    <li><a href="#">品优购社区</a></li>
                    <li><a href="#">品优购公益</a></li>
                    <li><a href="#">English Site</a></li>
                    <li class="dlast"><a href="#">Contact U</a></li>
                </ul>
                <p>地址：北京市昌平区建材城西路金燕龙办公楼一层 邮编：100096 电话：400-618-4000 传真：010-82935100 邮箱: zhanghj+itcast.cn</p>
                <span>京ICP备08001421号京公网安备110108007702</span>
            </div>
        </div>
    </footer>
    <!-- <script src="js/EasyLazyload.min.js"></script> -->
    <!-- <script src="js/EasyLazyload.js"></script> -->
    <script>
        // var text = document.querySelector('.search').querySelector('.text');
        // text.addEventListener('focus', function () {
        //     if (this.value === '请输入搜索内容...') {
        //         this.value = '';
        //     }
        //     this.style.color = '#333';
        // })
        // text.addEventListener('blur', function () {
        //     if (this.value === '') {
        //         this.value = '请输入搜索内容...';
        //     }
        //     this.style.color = '#ccc';
        // })
        // lazyLoadInit({
        //     coverColor: "white",
        //     coverDiv: "<h1>test</h1>",
        //     offsetBottom: 0,
        //     offsetTopm: 0,
        //     showTime: 1100,
        //     onLoadBackEnd: function (i, e) {
        //         console.log("onLoadBackEnd:" + i);
        //     }
        //     , onLoadBackStart: function (i, e) {
        //         console.log("onLoadBackStart:" + i);
        //     }
        // });
    </script>
</body>

</html>