<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>品优购-综合网购首选-正品低价、品质保障、配送及时、轻松购物!</title>
    <!-- 网站说明 -->
    <meta name=" description" content="品优购专业的综合网上购物商城，销售家电、数码通讯、电脑、家居百货、服装服饰、母婴、图书、
    食品数万个品牌优质商品.便捷、诚信的服务,为您提供愉悦的网上购物体验!" />
    <!-- 关键字 -->
    <meta name="keywords" content="网上购物,网上商城手机,笔记本，电脑,MP3,CD,VCD,DV,相机,数码，配件,手表,存储卡，京东" />
    <!-- htpp:/www.bitbug.net -->
    <!-- 网站引入favicon图标 -->
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="/public/css/base.css">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/public/css/brand.css">
    <script src="/public/js/list.js"></script>
</head>

<body>
    <!-- 头部导航栏 -->
    <section class="shorcut">
        <div class="w">
            <div class="f1">
                <ul>
                    <li>品优购欢迎您！&nbsp;</li>
                    <li>
                        <a href="sign.html" target="_blank">请登录&nbsp;</a>
                        <a href="logon.html" class="sty_red" target="_blank">免费注册</a>
                    </li>
                </ul>
            </div>
            <div class="fr">
                <ul>
                    <li>
                        <a href="#">我的订单</a>
                    </li>
                    <li></li>
                    <li>
                        <a href="#">我的品优购</a>
                        <i class="icomoon"></i>
                    </li>
                    <li></li>
                    <li>
                        <a href="#">品优购会员</a>
                    </li>
                    <li></li>
                    <li>
                        <a href="#">企业采购</a>
                    </li>
                    <li></li>
                    <li>
                        <a href="#">关注品优购</a>
                        <i class="icomoon"></i>
                    </li>
                    <li></li>
                    <li>
                        <a href="#">客户服务</a>
                        <i class="icomoon"></i>
                    </li>
                    <li></li>
                    <li>
                        <a href="#">网站导航</a>
                        <i class="icomoon"></i>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- header头部 -->
    <header class="header">
        <div class="logo">
            <a href="index.html" title="品优购商城"><img src="/public/images/logo_03.png" alt=""></a>
        </div>
        <!-- <a href="#" title="品优购商城"><img src="/public/images/logo_03.png" alt=""></a> -->
        <div class="search">
            <input type="text" class="text" placeholder="请输入搜索内容...">
            <button class="btn">搜索</button>
        </div>
        <div class="hotwords">
            <ul>
                <li><a href="#" class="style_red">优惠购首发</a></li>
                <li><a href="#">亿元优惠</a></li>
                <li><a href="#">9.9元团购</a></li>
                <li><a href="#">每满99减30</a></li>
                <li><a href="#">办公用品</a></li>
                <li><a href="#">电脑</a></li>
                <li><a href="#">通信</a></li>
            </ul>
        </div>
        <div class="shopcar">
            <span>我的购物车 &nbsp; ></span>
        </div>
        <div class="xx">88</div>
    </header>
    <!-- 品牌秒杀部分 -->
    <nav class="brand">
        <h4>品牌秒杀</h4>
        <h4>即将售馨</h4>
        <h4>超值低价</h4>
        <ul>
            <li>
                <a href="#">女装</a>
            </li>
            <li><a href="#">女鞋</a></li>
            <li><a href="#">男装</a></li>
            <li><a href="#">男鞋</a></li>
            <li><a href="#">母婴套装</a></li>
            <li><a href="#">食品</a></li>
            <li><a href="#">智能数码</a></li>
            <li><a href="#">运动户外</a></li>
            <li><a href="#">更多分类&nbsp;></a></li>
        </ul>
    </nav>
    <!-- 黑鲨手机背景 -->
    <div class="hs">
        <img src="/public/images/黑鲨手机.jpg" alt="">
    </div>
    <!-- 秒杀活动部分 -->
    <div class="seckill">
        <div class="sec_hd">
            <h4>今日秒杀</h4>
            <ul>
                <li>&gt;</li>
                <li>&lt;</li>
            </ul>
        </div>
        <div class="sec_bd">
            <div class="fl">
                <h4>18:00场</h4>
                <img src="/public/images/sd.jpg" alt="" srcset="">
                <p>距离结束还有</p>
                <div class="time">
                    <span class="hour">1</span>&nbsp;<strong>:</strong>
                    <span class="minute">2</span>&nbsp;<strong>:</strong>
                    <span class="second">3</span>
                </div>
            </div>
            <div class="fr">
                <ul>
                    <li>
                        <img src="/public/images/耳机.png" alt="" srcset="">
                        <h5>米兔智能故事机&nbsp;白色</h5>
                        <p class="desc">能说会道，好玩伴</p>
                        <p class="price">169元&nbsp;<span>199元</span></p>
                    </li>
                    <li>
                        <img src="/public/images/耳机.png" alt="" srcset="">
                        <h5>米兔智能故事机&nbsp;白色</h5>
                        <p class="desc">能说会道，好玩伴</p>
                        <p class="price">169元&nbsp;<span>199元</span></p>
                    </li>
                    <li>
                        <img src="/public/images/耳机.png" alt="" srcset="">
                        <h5>米兔智能故事机&nbsp;白色</h5>
                        <p class="desc">能说会道，好玩伴</p>
                        <p class="price">169元&nbsp;<span>199元</span></p>
                    </li>
                    <li class="last">
                        <img src="/public/images/耳机.png" alt="" srcset="">
                        <h5>米兔智能故事机&nbsp;白色</h5>
                        <p class="desc">能说会道，好玩伴</p>
                        <p class="price">169元&nbsp;<span>199元</span></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 手机列表部分 -->
    <div class="box">
        <div class="box_hd">
            <h4>手机</h4>
            <a href="#">查看全部&nbsp;></a>
        </div>
        <div class="box_bd">
            <div class="fl">
                <a href="#"><img src="/public/images/小米MIX.jpg" alt=""></a>
            </div>
            <div class="fr">
                <ul>
                    <li>
                        <img src="/public/images/黑鲨1.jpg" alt="">
                        <h5>腾讯黑鲨3S</h5>
                        <p class="desc">骁龙865处理器，120Hz刷新率</p>
                        <p class="price">3999元起</p>
                    </li>
                    <li>
                        <img src="/public/images/Redmi9A.jpg" alt="">
                        <h5>Redmi 9A</h5>
                        <p class="desc">5000mAh长循环大电量，6.53超大护眼屏幕</p>
                        <p class="price">499元起</p>
                    </li>
                    <li>
                        <img src="/public/images/小米10青春版.jpg" alt="">
                        <h5>小米10 青春版 5G</h5>
                        <p class="desc">50倍潜望式变焦/轻薄5G手机</p>
                        <p class="price">1899元起&nbsp;<span>2099元起</span></p>
                    </li>
                    <li class="fr_48">
                        <img src="/public/images/小米10.jpg" alt="">
                        <h5>小米10</h5>
                        <p class="desc">骁龙865/一亿像素相机</p>
                        <p class="price">3799元起&nbsp;<span>3999元起</span></p>
                    </li>
                    <li>
                        <img src="/public/images/RedmiK30 pro.jpg" alt="">
                        <h5>Redmi K30 Pro</h5>
                        <p class="desc">双模5G，骁龙865，弹出全面屏</p>
                        <p class="price">2499元起&nbsp;<span>2699元起</span></p>
                    </li>
                    <li>
                        <img src="/public/images/Redmin K30 变焦版.jpg" alt="">
                        <h5>Redmi K30 Pro 变焦版</h5>
                        <p class="desc">双模5G，骁龙865，弹出全面屏</p>
                        <p class="price">3799元起</p>
                    </li>
                    <li>
                        <img src="/public/images/小米10 pro.jpg" alt="">
                        <h5>小米10 Pro</h5>
                        <p class="desc">骁龙865/50倍变焦</p>
                        <p class="price">4999元起</p>
                    </li>
                    <li class="fr_48">
                        <img src="/public/images/Redmi K30.jpg" alt="">
                        <h5>Redmi K30</h5>
                        <p class="desc">120Hz流速屏，全速热爱</p>
                        <p class="price">1399元起&nbsp;<span>1699元起</span></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 网页右侧固定内容 -->
    <div class="fixed">
        <a href="javascript:;" class="a1" id="first">
            <img src="/public/images/con1.png" alt="" srcset="">
            <p>手机APPP</p>
        </a>
        <a href="logon.html" target="_blank" class="a2" id="two">
            <img src="/public/images/con2.png" alt="" srcset="">
            <p>个人中心</p>
        </a>
        <a href="javascript:;" class="a3" id="third">
            <img src="/public/images/con3.png" alt="" srcset="">
            <p>售后服务</p>
        </a>
        <a href="javascript:;" class="a4" id="fourth">
            <img src="/public/images/con4.png" alt="" srcset="">
            <p>人工客服</p>
        </a>
        <a href="javascript:;" class="a5" id="fifth">
            <img src="/public/images/con5.png" alt="" srcset="">
            <p>购物车</p>
        </a>
        <a href="javascript:;" class="a6" id="goBack">
            <img src="/public/images/con6.png" alt="" srcset="">
            <p>回到顶部</p>
        </a>
    </div>
    <!-- 底部footer部分 -->
    <footer class="footer">
        <div class="w">
            <!-- 头部 -->
            <div class="ft_hd">
                <ul>
                    <li>
                        <img src="/public/images/正_03.png" alt="">
                        <h5>正品保障</h5>
                        <p>正品保障，提供发票</p>
                    </li>
                    <li>
                        <img src="/public/images/正2_03.png" alt="">
                        <h5>正品保障</h5>
                        <p>正品保障，提供发票</p>
                    </li>
                    <li>
                        <img src="/public/images/正3_03.png" alt="">
                        <h5>正品保障</h5>
                        <p>正品保障，提供发票</p>
                    </li>
                    <li>
                        <img src="/public/images/正3_03.png" alt="">
                        <h5>正品保障</h5>
                        <p>正品保障，提供发票</p>
                    </li>
                    <li class="ft_hd5">
                        <img src="/public/images/正3_03.png" alt="">
                        <h5>正品保障</h5>
                        <p>正品保障，提供发票</p>
                    </li>
                </ul>
            </div>
            <div class="ft_bd">
                <ul class="about">
                    <h4>购物指南</h4>
                    <li><a href="#">购物流程</a></li>
                    <li><a href="#">会员介绍</a></li>
                    <li><a href="#">生活旅行/团购</a></li>
                    <li><a href="#">常见问题</a></li>
                    <li><a href="#">大家电</a></li>
                    <li><a href="#">联系客服</a></li>
                </ul>
                <ul class="about">
                    <h4>购物指南</h4>
                    <li><a href="#">购物流程</a></li>
                    <li><a href="#">会员介绍</a></li>
                    <li><a href="#">生活旅行/团购</a></li>
                    <li><a href="#">常见问题</a></li>
                    <li><a href="#">大家电</a></li>
                    <li><a href="#">联系客服</a></li>
                </ul>
                <ul class="about">
                    <h4>购物指南</h4>
                    <li><a href="#">购物流程</a></li>
                    <li><a href="#">会员介绍</a></li>
                    <li><a href="#">生活旅行/团购</a></li>
                    <li><a href="#">常见问题</a></li>
                    <li><a href="#">大家电</a></li>
                    <li><a href="#">联系客服</a></li>
                </ul>
                <ul class="about">
                    <h4>购物指南</h4>
                    <li><a href="#">购物流程</a></li>
                    <li><a href="#">会员介绍</a></li>
                    <li><a href="#">生活旅行/团购</a></li>
                    <li><a href="#">常见问题</a></li>
                    <li><a href="#">大家电</a></li>
                    <li><a href="#">联系客服</a></li>
                </ul>
                <ul class="about">
                    <h4>购物指南</h4>
                    <li><a href="#">购物流程</a></li>
                    <li><a href="#">会员介绍</a></li>
                    <li><a href="#">生活旅行/团购</a></li>
                    <li><a href="#">常见问题</a></li>
                    <li><a href="#">大家电</a></li>
                    <li><a href="#">联系客服</a></li>
                </ul>
                <ul class="last">
                    <h4>帮助中心</h4>
                    <img src="/public/images/erweima.png" alt="">
                    <p>品优购客户端</p>
                </ul>
            </div>
            <div class="ft_dd">
                <ul class="dd1">
                    <li>关于我们</li>
                    <li>联系我们</li>
                    <li>联系客服</li>
                    <li>商家入驻</li>
                    <li>营销中心</li>
                    <li>手机品优购</li>
                    <li>友情链接</li>
                    <li>销售联盟</li>
                    <li>品优购社区</li>
                    <li>品优购公益</li>
                    <li>English Site</li>
                    <li class="dlast">Contact U</li>
                </ul>
                <p>地址：北京市昌平区建材城西路金燕龙办公楼一层 邮编：100096 电话：400-618-4000 传真：010-82935100 邮箱: zhanghj+itcast.cn</p>
                <span>京ICP备08001421号京公网安备110108007702</span>
            </div>
        </div>
    </footer>
    <script>
        // var text = document.querySelector('.search').querySelector('.text');
        // text.addEventListener('focus', function () {
        //     if (this.value === '请输入搜索内容...') {
        //         this.value = '';
        //     }
        //     this.style.color = '#333';
        // })
        // text.addEventListener('blur', function () {
        //     if (this.value === '') {
        //         this.value = '请输入搜索内容...';
        //     }
        //     this.style.color = '#ccc';
        // })
        // // 倒计时效果
        // var time = document.querySelector('.fl').querySelector('.time');
        // var hour = time.querySelector('.hour');
        // // console.log(hour);
        // var minute = time.querySelector('.minute');
        // var second = time.querySelector('.second');
        // var inputTime = + new Date('2021-5-15 18:00:00');
        // countDown();
        // function countDown() {
        //     var nowTime = + new Date();
        //     var times = (inputTime - nowTime) / 1000;
        //     var h = parseInt(times / 60 / 60 % 24);
        //     hour.innerHTML = h < 10 ? '0' + h : h;
        //     var m = parseInt(times / 60 % 60);
        //     minute.innerHTML = m < 10 ? '0' + m : m;
        //     var s = parseInt(times % 60);
        //     second.innerHTML = s < 10 ? '0' + s : s;
        // }
        // setInterval(countDown, 1000);

        // // 2. 回到顶部效果
        // var header = document.querySelector('.header');
        // var headerTop = header.offsetTop;
        // // console.log(headerTop);
        // // console.log(hs.offsetTop);
        // var fixed = document.querySelector('.fixed');
        // var fixedTop = fixed.offsetTop - headerTop;
        // var seckill = document.querySelector('.seckill');
        // seckillTop = seckill.offsetTop;
        // var goBack = fixed.querySelector('#goBack');
        // // console.log(goBack);
        // // 2.1 显示隐藏回到顶部选项
        // document.addEventListener('scroll', function (e) {
        //     var y = window.pageYOffset;
        //     if (y >= headerTop) {
        //         fixed.style.position = 'fixed';
        //         fixed.style.top = fixedTop + 'px';
        //     } else {
        //         fixed.style.position = 'absolute';
        //         fixed.style.top = 120 + 'px';
        //     }
        //     if (y >= seckillTop) {
        //         goBack.style.display = 'block';
        //     } else {
        //         goBack.style.display = 'none';
        //     }
        // })
        // // 2.2 点击回到顶部，让窗口回到顶部
        // goBack.addEventListener('click', function () {
        //     animate(window, 0);
        // })
        // // 动画函数
        // function animate(obj, target, callback) {
        //     // console.log(callback);
        //     clearInterval(obj.timer);
        //     obj.timer = setInterval(function () {
        //         // 求步长值设置在定时器内
        //         // 把步长值改为整数，不要留小数点
        //         // var step = Math.ceil((target - obj.offsetLeft) / 10);
        //         var step = (target - window.pageYOffset) / 10;
        //         // 1．如果是正值，则步长往大了取整
        //         // 2. 如果是负值，则步长向小了取整
        //         step = step > 0 ? Math.ceil(step) : Math.floor(step);
        //         if (window.pageYOffset == target) {
        //             clearInterval(obj.timer);
        //             // 回调函数写在定时器结束后
        //             // if (callback) {
        //             //     callback();
        //             // }
        //             callback && callback();
        //         } else {
        //             // (目标值-现在的位置)/ 10  做为每次移动的距离步长  
        //             // obj.style.top = window.pageYOffset + step + 'px';
        //             window.scroll(0, window.pageYOffset + step);
        //         }
        //     }, 20)
        // }
    </script>
</body>

</html>